
body {
    background-repeat: none;  
     background-image: url('./background.jpg');
     
   
}
main{ 
    text-align: center;
    align-items: center;
    padding-top: 10px;
    
}

form {
    display: flex;
    flex-direction: column;
    background-color:11B2EB;

}

input {
    width: 100px;
}

button {
    width: 50px;
}

textarea {
    width: 400px;
    height: 300px;
    
}

h3 {
    
    align-content: center;
    color: white;
    font-family: fantasy;
}


.Header {
    padding-top: 30px;
    position: relative;
    font-family: fantasy;
    font-size: 60px;
    color: rgb(254, 254, 255);
    height: 20vh;
    text-align: center;
    justify-content: center;
    font-display: bold; 
    font-stretch: extra-expanded;
    background-color: clear;
    
}

.Footer {
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: clear;
    bottom: 0px;

}
